<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <!-- 连接数据库的驱动 -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <!-- 连接数据库的url -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/struts2</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">123456</property>
        <!-- 是否显示sql语句 -->
        <property name="hibernate.show_sql">true</property>
        
        <!-- 关联映射文件 -->
        <mapping resource="com/sansan/ssh/mapper/User.hbm.xml"/>
        
      </session-factory>
</hibernate-configuration>